*.pyc
stanford_tools/stanford-parser-full-2014-01-04/bin/makeSerialized.csh

stanford_tools/stanford-ner-2014-01-04/temp.txt

stanford_tools/stanford-parser-full-2014-01-04/bin/run-tb-preproc

*.xml

*.conf

*.txt

*.zip

stanford_tools/stanford-ner-2014-01-04/temp.txt

*.jar

*.bat

*.command

*.sh

stanford_tools/stanford-parser-full-2014-01-04/lexparser_lang.def

stanford_tools/stanford-parser-full-2014-01-04/Makefile

*.java

stanford_tools/stanford-parser-full-2014-01-04/StanfordDependenciesManual.pdf

*.txt

stanford_tools/stanford-ner-2014-01-04/temp.txt

stanford_tools/stanford-ner-2014-01-04/temp.txt

stanford_tools/stanford-ner-2014-01-04/temp.txt

stanford_tools/stanford-ner-2014-01-04/temp.txt

parse.py

parse.py
